h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    font-weight: bold;
    border-radius: 50px;
    height: 30px;
    background-color: rgb(86, 185, 113);
  
}
P {
    margin-top: 20px;
    text-align: center;
}
mat-card {
    background-color: rgb(214, 239, 219);
   
}
